{% extends 'base.html' %}


{% block titulo  %} Formulário de Produtos {% endblock %}


{% block titulo_page  %} Contato {% endblock %}


{% block conteudo  %}  


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Renderiza cada campo do formulário com <p> tags -->
        <button  onclick="location= '{% url "produto" %}'"  type="button" class="btn btn-secondary">Voltar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>


{% endblock %}
